* {
  margin: 0;
  padding: 0;
}

.formContainer {
  padding: 24px;
  width: 35%;
  height: 15rem;
  border-radius: 5px;
  /* border: 1px solid whitesmoke; */
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  margin-left: 72vh;
}

.Heading {
  height: 15vh;
  text-align: center;
  /* border: 2px solid black; */
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.todoHeading {
  padding-top: 1%;
  font-size: 40px;
}

.titleInput {
  height: 2.8rem;
  margin-bottom: 0.3rem;
}

.dateInput {
  width: 100%;
  margin-top: 0.3rem;
}

.background {

  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  height: 38vh;

}
.button{
  margin-left: 7%;
  margin-top: 7.5%;

}

